html
    head
        title Vistas
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css') 
    body
        h1.mt-3.text-center Vistas de Productos
        include ../main.pug
    
